<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SnapImageTaggingWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SnapImageTaggingWindow.Properties.Settings>
            <setting name="TagMissingDates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TagColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TagEvents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldReverseImageSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ShouldBrowseSkipped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBrowserWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldUseCustomTags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomTagString" serializeAs="String">
                <value />
            </setting>
            <setting name="EventStartTerminator" serializeAs="String">
                <value />
            </setting>
            <setting name="EventEndTerminator" serializeAs="String">
                <value />
            </setting>
            <setting name="EventDelimiter" serializeAs="String">
                <value />
            </setting>
        </SnapImageTaggingWindow.Properties.Settings>
    </userSettings>
</configuration>